<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cod-search</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/gun.png" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/ee56f8faf7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="mw/mwdatastyle.css">
</head>

<body>
    <section id="homediv">
        <a href="https://github.com/ahdernasr" class="github-corner" aria-label="View source on GitHub"><svg width="60"
                height="60" viewBox="0 0 250 250"
                style="fill: tomato; z-index:1; color:#fff; position: absolute; top: 0; border: 0; right: 0;"
                aria-hidden="true">
                <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
                <path
                    d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
                    fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
                <path
                    d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                    fill="currentColor" class="octo-body"></path>
            </svg></a>
        <style>
            .github-corner:hover .octo-arm {
                animation: octocat-wave 560ms ease-in-out
            }

            @keyframes octocat-wave {

                0%,
                100% {
                    transform: rotate(0)
                }

                20%,
                60% {
                    transform: rotate(-25deg)
                }

                40%,
                80% {
                    transform: rotate(10deg)
                }
            }

            @media (max-width:500px) {
                .github-corner:hover .octo-arm {
                    animation: none
                }

                .github-corner .octo-arm {
                    animation: octocat-wave 560ms ease-in-out
                }
            }
        </style>
        <div id="lcorner">
            <i id="cornericon" class="fas fa-database"></i>
            <h1 id="cornertitle">cod-search</h1>
        </div>
        <div id="navbar">
            <a class="navitem" href="/mwhome">Modern Warfare</a>
        </div>
        <%if(username.split('#')[1]) {%><p id="statheadertag">#<%=username.split('#')[1]%></p><%}%>
        <p id="statheader"><%=username.split('#')[0]%></p>
        <p id="viewcounter">View count: ~</p>
    </section>
    <section class="stathold">
        <div id="statnavbar">
            <a class="statnavitem" href="/mwstats">All time</a>
            <a class="statnavitem" href="/mwmatches">Matches</a>
            <a class="statnavitem" href="/mwkillstreaks">Killstreaks</a>
            <a class="statnavitem" href="/mwweapons">Weapons</a>
        </div>
        <div class="statboxes">
            <div class="statbox">
                <div id="leveldiv"><div>Prestige <p class="statvalue"><%=data.prestige%></p></div><div>Level<p class="statvalue"><%=data.level%></p></div></div>
                <div class="statsnippet"><p>Kills</p><p class="statvalue"><%=data.lifetime.all.properties.kills%></p></div>
                <div class="statsnippet"><p>Deaths</p><p class="statvalue"><%=data.lifetime.all.properties.deaths%></p></div>
                <div class="statsnippet"><p>Wins</p><p class="statvalue"><%=data.lifetime.all.properties.wins%></p></div>
                <div class="statsnippet"><p>Losses</p><p class="statvalue"><%=data.lifetime.all.properties.losses%></p></div>
                <div class="statsnippet"><p>K/D Ratio</p><p class="statvalue"><%=data.lifetime.all.properties.kdRatio.toFixed(3)%></p></div>
                <div class="statsnippet"><p>Games played</p><p class="statvalue"><%=data.lifetime.all.properties.gamesPlayed%></p></div>
                <div class="statsnippet"><p>Score</p><p class="statvalue"><%=data.lifetime.all.properties.score%></p></div>
            </div>
            <div class="statbox">
                <div class="statsnippet"><p>Highest Win Streak</p><p class="statvalue"><%=data.lifetime.all.properties.recordLongestWinStreak%></p></div>
                <div class="statsnippet"><p>Highest XP</p><p class="statvalue"><%=data.lifetime.all.properties.recordXpInAMatch%></p></div>
                <div class="statsnippet"><p>Highest Assists</p><p class="statvalue"><%=data.lifetime.all.properties.bestAssists%></p></div>
                <div class="statsnippet"><p>Highest Score</p><p class="statvalue"><%=data.lifetime.all.properties.bestScore%></p></div>
                <div class="statsnippet"><p>Highest Plants</p><p class="statvalue"><%=data.lifetime.all.properties.bestPlants%></p></div>
                <div class="statsnippet"><p>Highest SPM</p><p class="statvalue"><%=data.lifetime.all.properties.bestSPM%></p></div>
                <div class="statsnippet"><p>Highest Kills</p><p class="statvalue"><%=data.lifetime.all.properties.recordKillsInAMatch%></p></div>
                <div class="statsnippet"><p>Highest K/D</p><p class="statvalue"><%=data.lifetime.all.properties.bestKD%></p></div>
                <div class="statsnippet"><p>Highest Deaths</p><p class="statvalue"><%=data.lifetime.all.properties.bestDeaths%></p></div>
                <div class="statsnippet"><p>Highest Defuses</p><p class="statvalue"><%=data.lifetime.all.properties.bestDefuses%></p></div>
                <div class="statsnippet"><p>Highest Kills</p><p class="statvalue"><%=data.lifetime.all.properties.recordKillsInAMatch%></p></div>
                <div class="statsnippet"><p>Highest Killstreak</p><p class="statvalue"><%=data.lifetime.all.properties.bestKillStreak%></p></div>
            </div>
            <div class="statbox">
                <div class="statsnippet"><p>Accuracy</p><p class="statvalue"><%=data.lifetime.all.properties.accuracy.toFixed(3)%></p></div>
                <div class="statsnippet"><p>W/L Ratio</p><p class="statvalue"><%=data.lifetime.all.properties.winLossRatio.toFixed(3)%></p></div>
                <div class="statsnippet"><p>Score / Match</p><p class="statvalue"><%=data.lifetime.all.properties.scorePerGame.toFixed(3)%></p></div>
                <div class="statsnippet"><p>Suicides</p><p class="statvalue"><%=data.lifetime.all.properties.suicides%></p></div>
                <div class="statsnippet"><p>Current Win Streak</p><p class="statvalue"><%=data.lifetime.all.properties.currentWinStreak%></p></div>
                <div class="statsnippet"><p>Headshots</p><p class="statvalue"><%=data.lifetime.all.properties.headshots%></p></div>
                <div class="statsnippet"><p>Ties</p><p class="statvalue"><%=data.lifetime.all.properties.ties%></p></div>
                <div class="statsnippet"><p>Score / Minute</p><p class="statvalue"><%=data.lifetime.all.properties.scorePerMinute.toFixed(3)%></p></div>
                <div class="statsnippet"><p>Highest Captures</p><p class="statvalue"><%=data.lifetime.all.properties.bestCaptures%></p></div>
            </div>
        </div>

        </div>
    </section>
    <section class="footer">
        <p class="footertext">Contact me</p>
        <i class="footericon fab fa-twitter"></i>
        <i class="footericon fab fa-discord"></i>
        <i class="footericon fab fa-instagram"></i>
        <i class="footericon fas fa-envelope"></i>
    </section>
    <script src="mw/mwstatsscript.js" async defer></script>
</body>

</html>